<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.memo.post.dao.PostDAO">
 
 	<!-- 테스트 -->
 	<select id="selectPostListTEST" resultType="map">
 		SELECT
 			*
 		FROM
 			`post`
 	</select>
 	
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO `post`
 		(
	 		`userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{subject}
 			, #{content}
 			, #{imagePath}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 
 	<select id="getPostListByUserId" parameterType="int" resultType="com.memo.post.model.Post">
 		SELECT
 			`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId} <!-- #{} 따옴표가 들어감 -->
 			<if test="direction == null">  <!-- 첫번째 페이지 -->
 			ORDER BY `id` DESC
 			</if>
 			<if test="direction == 'next'">
	 			<![CDATA[
	 				AND `id`< #{standardId}
	 			]]>
 			ORDER BY `id` DESC
 			</if>
 			<if test="direction == 'prev'">
 				<![CDATA[
	 				AND `id`> #{standardId}
	 			]]>
	 		<!-- order by는 안쓰면 정방향으로 가져와져서 생략 -->
 			</if>
 		LIMIT ${limit} <!-- ${} 따옴표가 안들어감, 쿼리에서 따옴표 들어가면 오류남 -->
 	</select>
 	
 	<select id="selectPostIdByUserIdSort" parameterType="map" resultType="int">
 		SELECT
 			`id`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY `id` ${sort}
 		LIMIT 1
 	</select>
 	
 	<select id="selectPostByPostIdUserId" parameterType="map" resultType="com.memo.post.model.Post">
 		SELECT
 			`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId}
 			AND
 			`id` = #{postId}
 	</select>
 	
 	<update id="updatePostByPostIdUserId" parameterType="map">
 		UPDATE `post`
 		SET
 			`subject` = #{subject}
 			, `content` = #{content}
 			, `updatedAt` = NOW()
 			<!-- imagePath가 있을 때만 수정한다. -->
 			<if test="imagePath != null">
 			, `imagePath` = #{imagePath}
 			</if>
 		WHERE
 			`id` = #{postId}
 			AND `userId` = #{userId}
 	</update>
 	
 	<delete id="deletePostByPostIdUserId" parameterType="map">
		DELETE
		FROM
			`post`
		WHERE
			`id` = #{postId}
			AND `userId` = #{userId}
	</delete>
 	
 </mapper>