@charset "UTF-8";
header {
	height: 100px;
}
.contents {
	min-height: 500px;
}
footer {
	height: 100px;
}
.signUp.table {
	border-bottom: 1px solid #dee2e6;
}
.signUp.table tr th {
	background: #eee;
	vertical-align: middle;
}